{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
<!--
The Create Post page is for users to input text in a form used to create user posts.
Users are redirected to the posts page upon submission of the form.
Posts are displayed on the posts page.
-->
{% block content %}
    <!-- Post Creation Form -->
    <h1 align="center">
        Create a Post
    </h1>
    <!--- Input for post content -->
    <form method="POST">
        <textarea name="text" id="text" class="form-control"></textarea>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-lg btn-primary">Post</button>
        </div>
    </form>
    <br/>
    <!--- Form submission button -->
    <div align="center">
        <a class="btn btn-secondary btn-lg" href="/blog">Back</a>
    </div>
{% endblock %}
