{% extends "base.html" %}
{% block title %}Login{% endblock %}

<!-- 
The purpose of the Login page is to show a form that users 
will utilise to post their username and passwords into in 
order to log into their user accounts. Users will be 
logged into their user accounts and are redirected
to the home page.

In order to log in successfully, the user must input
a valid email associated with a user account and 
the correct password for the user account. This can
be found in the login route in auth.py

The login form can only be seen on the navigation bar if
the user is not authenticated / logged in. Otherwise,
it will not be seen on the navigation bar of a
authenticated / logged in user account.
-->

{% block content %}
    <!-- Heading -->
    <h3 align="center"> 
        Login
    </h3>
     <!-- Login Form -->
    <form method="POST">
        <div class="form-group">
            <!-- Input for email address -->
            <label for="email">Email Address</label>
            <input 
            type="text" 
            id="email" 
            name="email" 
            class="form-control" 
            placeholder="Enter Email"
            />
            <!-- Input for password -->
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            name="password" 
            class="form-control" 
            placeholder="Enter Password"
            />
            <br/>
            <!-- Form submission button -->
            <div align="center">
                <button class="btn btn-primary" type="submit">Login</button> 
            </div>
        </div>
    </form>
{% endblock %}